.page-container {
  background-color: #e4ebf1;
}
.header-contont {
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2rem;
}
.main-content {
  padding: 18px 18px 0;
  min-height: calc(100vh - 100px);
}
.footer-contont {
  height: 52px;
  line-height: 50px;
  text-align: center;
}

.column {
  background-color: #fff;
}


.container.is-fluid {
  margin: 0!important;
}